h2 {
    color: red;
}

.PostBanner {
    color: white;
}

.Title {
    font-size: 48px;
    padding-bottom: 50px;
}

.PostSection {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding-bottom: 20px;
}
.PostSection__left,
.PostSection__right {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.PostSection__left {
    padding-right: 20px;
    border-right: 1px solid white;
}
.PostSection__right {
    padding-left: 20px;
    border-left: 1px solid white;
}