h2 {
    color: red;
}

.right-post-element {
    margin-bottom: auto;
}

.userpost-page {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.postBanner {
    color: white;
}

.title {
    font-size: 48px;
    padding-bottom: 50px;
}

.postSection {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding-bottom: 20px;
}
.postSection__left,
.postSection__right {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.postSection__left {
    padding-right: 20px;
    border-right: 1px solid white;
}
.postSection__right {
    padding-left: 20px;
    border-left: 1px solid white;
}